*,*::before,*::after {
  box-sizing: border-box;
}
// * {
//   outline: 1px solid #000;
// }
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; /*regular*/
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
/* 滑鼠移到按鈕元件會出現【手指圖示】 */
// button { 
//   cursor: pointer; 
// }
