/* 系列鏡框-導覽列 */
.series-navbar {
  ul {
    li {
      border-left: 1px solid $gray-300;
      border-bottom: 1px solid $gray-300;
    }
    &:last-child {
      border-right: 1px solid $gray-300;
    }
  }
  a {
    display: block;
    color: $black;
    position: relative;
    &::after {
      content: '';
      width: 0px;
      height: 8px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:hover{
      &::after {
        width: 100%;
      }
    }
  }
  a.active {
    &::after {
      width: 100%;
    }
  }
}

/* 系列鏡框-OPTICAL */
.series-header-optical {
  height: 296px;
  :nth-child(1) {
    background: url(../images/product-header-1.png) no-repeat center;
    background-size: cover;
  }
  :nth-child(2) {
    background: url(../images/product-header-2.png) no-repeat center;
    background-size: cover;
  }
  @include pad {
    :nth-child(1) {
      background: url(../images/product-header-sm-1.png) no-repeat center;
      background-size: cover;
    }
    :nth-child(2) {
      background: url(../images/product-header-sm-2.png) no-repeat center;
      background-size: cover;
    }
  }
  @include mobile {
    height: 136px;
  }
}
/* 系列鏡框-SUNGLASSES */
.series-header-sun {
  height: 296px;
  :nth-child(1) {
    background: url(../images/product-header-3.png) no-repeat center;
    background-size: cover;
  }
  :nth-child(2) {
    background: url(../images/product-header-4.png) no-repeat center;
    background-size: cover;
  }
  @include pad {
    :nth-child(1) {
      background: url(../images/product-header-sm-3.png) no-repeat center;
      background-size: cover;
    }
    :nth-child(2) {
      background: url(../images/product-header-sm-4.png) no-repeat center;
      background-size: cover;
    }
  }
  @include mobile {
    height: 136px;
  }
}

.series-product {
  img {
    width: 100%;
  }
  .series-product-color-list {
    li:not(:last-child) {
      margin-right: 8px;
    }
  }
  .series-product-item-color {
    display: block;
    @include size(24px);
    border-radius: 4px;
    &:hover {
      /* 圖片縮放 */
      transform: scale(1.1, 1.1);
      transition: all 0.1ms ease;
    }
  }
}