/* 顏色 */
$primary: #AA0601;
$secondary: #FBF2F2;
$danger: #650300;
$white: #ffffff;
$black: #000000;
$gray-200:#DEE2E6;
$gray-300: #DCDCDC;
$gray-400: #707070;
$gray-500: #555555;
$gray-600: #495057;
$gray-800: #00000020;
$gray-900: #212529;
$brown-light: #B75929;
$brown-dark: #5F3E2D;
$red-500: #9F1213;

/* 變數-文字大小 */
$fs-s: 14px;
$fs-base: 16px;
$fs-18: 18px;
$fs-19: 19px;
$fs-m: $fs-base * 1.25;  /* 20px */
$fs-l: $fs-base * 1.5;   /* 24px */
$fs-xl: $fs-base * 2;    /* 32px */
$fs-2xl: $fs-base * 2.25; /* 36px */  
$fs-3xl: $fs-base * 2.625; /* 42px*/
$fs-4xl: $fs-base * 3;   /* 48px */
$fs-5xl: $fs-base * 4;   /* 64px */